@model IEnumerable<ProjetoFinalLeo.Models.Procedimento>

@{
    ViewData["Title"] = "Index";
}

<h1>Procedimento</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProcedimentoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedimentoObservacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProcedimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProcedimentoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcedimentoObservacao)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TipoProcedimento.TipoProcedimentoNome)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ProcedimentoId" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.ProcedimentoId" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ProcedimentoId" class="btn btn-segundo"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
