@model IEnumerable<ProjetoFinalLeo.Models.ProcedimentoRealizado>

@{
    ViewData["Title"] = "Index";
}

<h1>Procedimento Realizado</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar</a>
</p>
<div>
    @using (Html.BeginForm("Index", "ProcedimentoRealizado", FormMethod.Get))
    {
        <p>
            Digite aqui sua pesquisa: @Html.TextBox("pesquisa")
            <input class="btn-primary" type="submit" value="Pesquisar" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procedimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalRealizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRealizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacaoRealizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Cliente.ClienteNome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Procedimento.ProcedimentoNome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Colaborador.ColaboradorNome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.LocalRealizacao.LocalRealizacaoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRealizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacaoRealizacao)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ProcedimentoRealizadoId" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.ProcedimentoRealizadoId" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ProcedimentoRealizadoId" class="btn btn-segundo"><i class="fa-solid fa-trash-can"></i></a>
                    <a asp-action="Imprimir" asp-route-id="@item.ProcedimentoRealizadoId" target="_blank" class="btn btn-primary"><i class="fa-solid fa-print"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
